<!--Card-->
<div class="card">
  <div class="date">MARCH 2016 - JULY 2017</div>
  <div class="content">
    <div class="card-header">
      <div class="title"><a href="#">Nexeven AB - QA Engineer</a></div>
    </div>
    <div class="card-text">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque omnis incidunt delectus minima
        quasi
        laborum illum a amet accusantium maiores officiis debitis libero, iusto numquam at distinctio quisquam
        tempora. Commodi neque reprehenderit saepe magni non numquam repellendus enim. Molestias, alias!</p>
    </div>
    <div class="card-footer">
      <ul class="keywords">
        <li>First</li>
        <li>Second</li>
        <li>Third</li>
        <li>Fourth</li>
      </ul>
    </div>
  </div>
</div>
<!--END Card-->