<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/x-small.css">
  <link rel="stylesheet" href="css/small.css">
  <link rel="stylesheet" href="css/medium.css">
  <link rel="stylesheet" href="css/large.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>John Lundgren</title>
</head>

<body>
  <main class="container">
    <section id="header">
      <article>
        <div class="h1">John Lundgren</div>
        <div class="h3">Fron-End Developer</div>
        <div id="subTitle_2" class="h5">Elevating IT Excellence: Web Development and QA, Expertis Unleashed
        </div>
        <div class="menu">
          <ul class="menu-list">
            <li class="menu-list-item">
              <a href="#about">About</a>
            </li>
            <li class="menu-list-item">
              <a href="#experience">Experience</a>
            </li>
            <li class="menu-list-item">
              <a href="#education">Education</a>
            </li>
          </ul>
        </div>
        <div class="social-media">
          <a href="https://github.com/johnLexicon" target="_blank"><i class="fa-brands fa-github"></i></a>
          <a href="https://www.linkedin.com/in/john-lun/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>
      </article>
    </section>

    <section id="merits">

      <article id="about">
        <div class="h3 section-title md-hidden upper">About</div>
        <p>
          Dedicated and highly qualified IT professional with an extensive background in web development, quality
          assurance, and
          education. Throughout my career, I have excelled in various roles, including course coordinator and teaching
          assistant
          at Lexicon AB, where I managed presentations and interviews, selected course materials, and provided valuable
          support to
          participants.
        </p>
        <p>
          My expertise also encompasses quality assurance and automated testing, as demonstrated during my time at
          Nexeven AB.
          There, I designed functional automated tests for video analysis systems, implemented tests using Java and
          JUnit, and
          developed frameworks for browser interaction. I further enhanced my technical skills at Cision AB,
          specializing in
          application development with Microsoft's framework, focusing on C#, as well as web development with the .NET
          framework
          and MVC architecture.
        </p>

      </article>

      <article id="experience">
        <div class="h3 section-title md-hidden upper">Experience</div>

        <% portfolio.work_experience.forEach(function(experience) { %>
          <%- include('./includes/experience_card.ejs', {data: experience}) %>
            <% }); %>
      </article>

      <article id="education">
        <div class="h3 section-title md-hidden upper">Education</div>

        <% portfolio.education.forEach(function (education) { %>
          <%- include('./includes/education_card.ejs', {data: education}) %>
            <% }) %>
      </article>

      <div class="more_info">
        <a class="link" target="_blank" href="/cv_2col.pdf">View full Résumé</a>
      </div>
    </section>
  </main>
</body>

</html>