@media screen and (min-width: 1200px) {

  .container {
    padding: 1rem;
  }

  #header article {
    position: fixed;
  }

  #about {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .card {
    flex-direction: row;
    position: relative;
    padding: 2rem;
  }

  .card .date {
    flex-basis: 30%;
  }

  .card .content {
    flex-basis: 70%;
  }

  .card a.link {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.4s ease-in-out;
  }

  .card a.link:hover {
    border-radius: 10px;
    background-color: rgba(59, 59, 59, 0.1);
    box-shadow: rgba(38, 251, 49, 0.24) 0px 3px 8px;
  }
}