@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@100;200;300;400;500&display=swap');

:root {
  /* main green color (A shade of green) */
  --primary-color: #4caf50;

  /* accent colors */
  --lighter-green: #8bc34a;
  /* For contrast or highlights */
  --darker-green: rgb(3, 26, 4);
  --transparent-darker-green: rgba(3, 26, 4, 0.8);
  /* A darker shade for shadows or deeper elements */

  /* neutrals */
  --white: #fff;
  /* For backgrounds or clean elements */
  --light-gray: #e0e0e0;
  /* For subtle contrasts */
  --dark-gray: #333;
  /* For text or borders */

  /* call-to-action color (contrasts well with green for buttons or call-to-action elements)  */
  --accent-color: rgb(255, 153, 0);
  --transparent-accent-color: rgba(255, 255, 255, 0.2);

  /* background color */
  --background-color: #f5f5f5;
  /* A light background color that complements the overall palette. */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--darker-green);
  color: var(--light-gray);
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}