@media screen and (min-width: 768px) {
  .h1 {
    font-size: 3rem;
  }

  .card {
    flex-direction: row;

  }

  .card .date {
    flex-basis: 50%;
  }

  .card .content {
    flex-basis: 50%;
  }
}