.container {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  margin-top: 3rem;
  width: 95%
}

#header {
  margin-bottom: 7rem;
}

.h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}


.h3 {
  font-size: x-large;
  letter-spacing: 2px;
}

.h5 {
  font-size: large;
}

.h1,
.h3 {
  color: var(--light-gray);
  font-weight: bolder;
}

.h3,
.h5 {
  margin-bottom: 2rem;
}

#subTitle_2 {
  max-width: 25rem;
  line-height: 1.5;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:hover {
  color: var(--accent-color);
}

p {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  line-height: 1.5;
}

.section-title {
  position: sticky;
  top: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: var(--transparent-darker-green);
  font-size: large;
}

.menu {
  display: none;
}

.menu-list {
  list-style-type: none;
  font-size: large;
  text-transform: uppercase;
}

.menu-list-item {
  padding: 0.5rem 0;
}

.menu-list-item::before {
  content: "\2013\2013\2013";
  margin-right: 8px;
}

.social-media {
  padding: 1rem 0;
  font-size: 28px;
}

.social-media a {
  margin-right: 0.7rem;
}

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.card a.link {
  display: none;
}

.card .date {
  color: var(--transparent-accent-color);
  margin-bottom: 0.7rem;
  font-weight: bolder;
}

.card-header>.title {
  color: var(--white);
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: larger;
}

.card-footer>ul.keywords {
  list-style-type: none;
  color: var(--accent-color);
}

.card-footer>ul.keywords>li {
  display: inline-block;
  background-color: var(--transparent-lighter-green);
  border-radius: 10px;
  padding: 8px;
  margin-right: 5px;
  display: inline-block;
  margin-bottom: 5px;
}

.more_info {
  padding: 2rem;
}